Jinja2<3.1.0
sphinx==3.5.4
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git@b4d0005#egg=pytorch_sphinx_theme
matplotlib
sphinx_gallery

--extra-index-url https://download.pytorch.org/whl/nightly/cpu
torchdata
