name: Integration Test

on:
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  build:
    runs-on: linux.12xlarge
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install packages
        run: |
          python -m pip install --quiet --upgrade pip
          python -m pip install --quiet --pre torch torchdata -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
          python -m pip install --quiet pytest requests cmake ninja sentencepiece parameterized tqdm expecttest transformers
          python setup.py install
      - name: Run integration test
        run: |
          cd test && pytest integration_tests -v --use-tmp-hub-dir
